numpy
tensorflow
typing-extensions
typing-inspect
tqdm
pickleshare
scikit-learn
scipy
pandas
matplotlib
seaborn
dataclasses
dataclasses-json
Click
fs
six
git+https://github.com/thu-ml/zhusuan.git@48c0f4e
git+https://github.com/haowen-xu/tfsnippet.git@v0.2.0-alpha4
git+https://github.com/haowen-xu/ml-essentials.git
